body {
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size: .85em;
}

.container {
    width: 320px;
	height: 422px;
	border: 2px solid #c0afaf;
	background-color: #f8f8ff;
    position: inherit;
    text-align: center;
}

canvas{
	padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}